<html>
    <head>
        <title>Wallet Django</title>
        <style>body {margin: 1em}</style>
    </head>
    <body>
        <h1>Wallet Django</h1>

        <h2>Generate master:</h2>
        <p>
            <a href="generate_master/BTC">BTC</a>
            <a href="generate_master/ETH">ETH</a>
            <a href="generate_master/XXX">XXX</a>
        </p>

        <h2>Generate address:</h2>
        <p>
            <a href="generate_address/BTC">BTC</a>
            <a href="generate_address/ETH">ETH</a>
            <a href="generate_address/XXX">XXX</a>
        </p>

        <h2>List address:</h2>
        <p>
            <a href="list_address">List</a>
        </p>

        <h2>Retrieve address:</h2>
        <p>
            <a href="retrieve_address/0">Index0</a>
        </p>
    </body>
</html>
